{% extends 'base.html.twig' %}
{% block title %}Le Rameau - Inscription Église ACF {% endblock %}
{% block stylesheet %}

    {{ parent() }}
    <link href="{{ asset('css/security/mobile-register.css') }}" rel="stylesheet">
    <link href="{{ asset('css/security/desktop-register.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
    <div class="container">
            {{ form_start(form) }}
            {{ form_end(form) }}
    </div>
{% endblock %}
