{% extends "admin-base.html.twig" %}
{% block title %}
    Le Rameau - Gestion d'article
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    {% endblock %}
{% block admintitle %}
    <div id="title">
        <h3>Menu de gestion d'articles</h3>
    </div>
{% endblock %}
{% block main %}
        <table>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title| slice(0,20) }}...</td>
                    <td>{{ article.content |raw | slice(0, 40) }}...</td>
                    <td>{{ article.created_at|date('d/m/Y H:i:s') }}</td>
                    <td><a href="{{ path('admin_article_edit', {'article': article.id}) }}"
                           class="admin-button"><i class="fas fa-edit"></i></a>
                    </td>
                    <td><a href="{{ path('admin_article_delete', {'article': article.id}) }}"
                           class="admin-button delete-article"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            {{ knp_pagination_render(articles) }}
        </table>
{% endblock %}
